<section class="hero bg-dark position-relative">
  <nav class="navbar navbar-expand-lg pb-3 pt-3 navbar-dark" id="navbar">
    <div class="container-fluid"></div>
  </nav>
  <div class="container position-relative">
    <div class="text-center hero-inner ml-auto mr-auto">
      <h1>Discover theses and dissertations</h1>
      <p class="mt-4 text-faint">
        The Ambrose Alli University electronic thesis and dissertations,
        contains a broad collection of thesis and dissertations from the
        university.
      </p>
      <a (click)="scroll(results)"><i class="fas fa-arrow-down"></i></a>
    </div>
  </div>
</section>
<div #results></div>
