<footer class="pb-2 pt-4" id="contact">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
    <p class="text-light mb-0">
      KM 70 Benin Auchi Road P. M. B 14, Ekpoma Edo State Nigeria
    </p>
    <p>
      <a href="tel:+2348051306155" class="text-light d-inline-block pl-2 pr-2"
        >+234 805 130 6155</a
      ><a href="tel:+2348051306005" class="text-light d-inline-block pl-2 pr-2"
        >+234 805 130 6005</a
      ><a
        href="mailto:info@aauekpoma.edu.ng"
        class="text-light text-center d-inline-block pr-2 pl-2"
        >info@aauekpoma.edu.ng</a
      >
    </p>
    <p class="transition text-white opacity-8">
      2019 &copy; Ambrose Ali University. All Rights Reserved
    </p>
  </div>
</footer>
