<div class="row">
  <form
    class="col-xl-8 offset-xl-2 pb-4 pt-5"
    (submit)="saveChanges()"
    [formGroup]="formGroup"
    #topElement
  >
    <div class="pt-5" *ngIf="!hideAlert">
      <lib-alert
        [type]="response.type"
        [title]="response.title"
        [message]="response.message"
      ></lib-alert>
    </div>
    <div class="form position-relative form-box mb-2 p-4">
      <div class="ml-n4 mr-n4 pr-4 pl-4 text-center mt-4">
        <ng-container *ngIf="uploading; else imageUploader">
          <div class="text-center">
            <img src="assets/images/loader.svg" width="32" />
          </div>
        </ng-container>
        <ng-template #imageUploader>
          <div class="text-right">
            <a
              *ngIf="formGroup.controls['url'].value"
              [href]="formGroup.controls['url'].value"
              target="_blank"
              class="btn btn-link"
              ><i class="fas fa-external-link-alt"></i
            ></a>
          </div>
          <div class="custom-file">
            <input
              type="button"
              class="custom-file-input"
              formControlName="url"
              (click)="uploadFile()"
            />
            <label class="custom-file-label text-sm" for="custom-file1">{{
              formGroup.controls["url"].value
            }}</label>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="form pl-4 position-relative pr-4 pt-5 form-box pb-4 mb-2">
      <app-input
        title="Title: "
        name="title"
        invalidText="Title is required"
        autocomplete="off"
        [formGroup]="formGroup"
      ></app-input>
      <app-input
        title="Author(s):"
        name="author"
        invalidText="Author is required"
        autocomplete="on"
        [formGroup]="formGroup"
      ></app-input>
      <app-input
        title="Year Submitted: "
        name="submissionYear"
        type="number"
        invalidText="Enter a valid year"
        autocomplete="on"
        [formGroup]="formGroup"
      ></app-input>
      <div class="form-group">
        <label class="d-block">Type of document</label>
        <div class="custom-control custom-radio d-inline-block mr-5 mb-2">
          <input
            id="thesis"
            value="0"
            type="radio"
            class="custom-control-input"
            [formControl]="formGroup.get('type')"
          />
          <label class="custom-control-label font-weight-normal" for="thesis"
            >Theses</label
          >
        </div>
        <div class="custom-control custom-radio d-inline-block mr-5 mb-2">
          <input
            id="dissertation"
            value="1"
            [formControl]="formGroup.get('type')"
            type="radio"
            class="custom-control-input"
          />
          <label
            class="custom-control-label font-weight-normal"
            for="dissertation"
            >Dissertation</label
          >
        </div>
      </div>
    </div>
    <div class="form pl-4 position-relative pr-4 pt-5 form-box pb-4 mb-2">
      <lib-select
        title="Department/Discipline"
        name="departmentId"
        [formGroup]="formGroup"
        className="text-capitalize"
        keyText="name"
        keyValue="id"
        [data]="department.data"
        imgSrc="/assets/images/loader.svg"
        [showLoader]="department.isBusy"
        invalidText="Choose a department"
      ></lib-select>
      <app-input
        title="Advisor(s) (optional): "
        name="advisors"
        autocomplete="on"
        [formGroup]="formGroup"
      ></app-input>
    </div>
    <div class="form pl-4 position-relative pr-4 pt-5 form-box pb-4 mb-2">
      <app-input
        title="Abstract: "
        name="abstract"
        invalidText="Abstract is required"
        [isInput]="false"
        [formGroup]="formGroup"
      ></app-input>
      <app-input
        title="Tags/Keywords (optional): "
        name="tags"
        autocomplete="on"
        [formGroup]="formGroup"
      ></app-input>
    </div>
    <app-button
      [disabled]="isBusy || formGroup.invalid"
      [showLoader]="isBusy"
      [maxWidth]="true"
      text="Save Changes"
    ></app-button>
  </form>
</div>
