<aside class="left-panel">
  <button
    type="button"
    class="btn btn-link btn-back text-brand"
    (click)="store.toggleMenu()"
  >
    <i class="fas fa-arrow-left"></i>
  </button>
  <div class="left-content">
    <div class="left-panel-profile text-center">
      <img class="profile-image" src="/assets/images/icon.png" />
      <h4 class="font-weight-bold left-panel-profile-name mt-2">
        Ambrose Ali University
      </h4>
      <p class="left-panel-email">
        Electronic Thesis &amp; Dissertations (ETD)
      </p>
    </div>
    <ul class="fa-ul ">
      <li routerLinkActive="active">
        <i class="fas fa-li transitio fa-file-pdf"></i>
        <a routerLink="/documents" class="transition">Documents</a>
      </li>
      <li routerLinkActive="active">
        <i class="fas fa-li transitio fa-hotel"></i>
        <a routerLink="/departments" class="transition">Departments</a>
      </li>
      <li>
        <i class="fas fa-li transitio fa-sign-in-alt"></i>
        <a (click)="auth.logout()" class="transition cursor-pointer">Logout</a>
      </li>
    </ul>
  </div>
</aside>
