<div class="form position-relative form-box p-4" data-pg-collapsed>
  <div class="text-right btn-grouped mb-3" data-pg-collapsed>
    <a
      [routerLink]="['/documents', 'create']"
      routerLinkActive="router-link-active"
      class="btn btn-brand text-sm"
      title="Add"
    >
      <i class="fas fa-plus"></i
    ></a>
  </div>
  <div class="table-responsive">
    <table class="table" data-pg-collapsed>
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>Department</th>
          <th>Type</th>
          <th>Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-pg-collapsed>
          <th scope="row" class="align-middle font-weight-normal">3</th>
          <td class="align-middle">
            The Levenberg-Marquardt algorithm using the Newton method for
            optimization
          </td>
          <td class="align-middle">John Doe</td>
          <td class="align-middle">Physics</td>
          <td class="align-middle">Theses</td>
          <td class="align-middle">2012</td>
          <td class="align-middle td-actions" data-pg-collapsed>
            <a
              class="btn btn-action btn-warning transition "
              href="add-department.html"
              title="Edit"
              ><i class="fas fa-pencil-alt"></i
            ></a>
            <button
              class="btn btn-action btn-danger transition"
              title="Delete"
              type="button"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
