<ng-container *ngIf="isBusy; else resultTemplate">
  <app-loader></app-loader>
</ng-container>
<ng-template #resultTemplate>
  <div class="form position-relative form-box p-4">
    <div class="text-right btn-grouped mb-3">
      <a
        [routerLink]="['/departments', 'create']"
        routerLinkActive="router-link-active"
        class="btn btn-brand text-sm"
        title="Add"
        (click)="store.setDepartment(dummyDepartment)"
      >
        <i class="fas fa-plus"></i
      ></a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th class="table">DEPARTMENT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let department of data;
            trackBy: trackDepartment;
            let i = index
          "
        >
          <th scope="row" class="align-middle font-weight-normal">
            {{ i + 1 }}
          </th>
          <td class="align-middle text-capitalize">{{ department.name }}</td>
          <td class="align-middle td-actions">
            <a
              class="btn btn-action btn-warning mr-1 transition"
              routerLink="/departments/edit/{{ department.id }}"
              title="Edit"
              (click)="store.setDepartment(department)"
              ><i class="fas fa-pencil-alt"></i
            ></a>
            <button
              class="btn btn-action btn-danger transition"
              title="Delete"
              type="button"
              (click)="setSelectedDepartment(department, i)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<app-modal
  message="Are you sure you want to permanently delete the selected department?"
  *ngIf="modal.show"
  (onCancel)="modal.show = false"
  (onClick)="deleteDepartment()"
  [showLoader]="modal.showLoader"
  [invalidText]="modal.invalidText"
></app-modal>
