<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div
      class="modal-backdrop fade show z-index-lg"
      [class.pointer-events-none]="showLoader"
      (click)="handleCancel()"
    ></div>

    <div class="modal-content z-index-lg">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button
          type="button"
          class="close"
          (click)="handleCancel()"
          *ngIf="!showLoader"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <p class="mb-0">
          {{ message }}
        </p>
        <span class="error-text" *ngIf="invalidText && !showLoader">{{
          invalidText
        }}</span>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="handleCancel()"
          *ngIf="!showLoader"
        >
          {{ btnNegetiveText }}
        </button>

        <button
          type="button"
          [disabled]="showLoader"
          class="btn btn-secondary"
          (click)="handleClick()"
        >
          {{ btnPositiveText }}
          <div
            class="spinner-border spinner-border-sm position-relative"
            *ngIf="showLoader"
          ></div>
        </button>
      </div>
    </div>
  </div>
</div>
