<div class="row">
  <div class="col-md-8 offset-md-2">
    <form
      role="form"
      (submit)="saveChanges()"
      [formGroup]="formGroup"
      class="form pl-4 position-relative pr-4 pt-5  form-box pb-4"
    >
      <lib-alert
        [type]="response.type"
        [title]="response.title"
        [message]="response.message"
        *ngIf="!hideAlert"
      ></lib-alert>
      <app-input
        title="Department Name: "
        name="name"
        invalidText="Department name is required"
        [formGroup]="formGroup"
      ></app-input>
      <app-button
        [disabled]="isBusy || formGroup.invalid"
        [showLoader]="isBusy"
        text="Save Changes"
      ></app-button>
    </form>
  </div>
</div>
