<section id="about" class="bg-grey">
  <div class="pb-5 pt-5 container-md container-fluid">
    <div class="ml-auto mr-auto max-width-800 mt-3 mb-4">
      <h2 class="text-center text-uppercase font-weight-bold mb-3">
        About the Ambrose Alli <span>ETD</span>
      </h2>
      <p class="text-center">
        The Ambrose Alli ETD (Electronic Theses and Dissertations) is a
        collection of records of theses and dissertations submitted
        electronically by students of the university. These digital documents
        are suitable for machine archives and worldwide access.
      </p>
      <p class="text-center">
        In Ambrose Alli University, graduate students began submitting ETDs
        during the fall 2019.
      </p>
    </div>
    <div class="row pt-4">
      <div class="col-sm-4 mb-4">
        <div class="card h-100 about-box text-center pt-4">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">
              Increased access to research
            </h3>
            <p class="card-text opacity-8">
              Available to potential employers and other researchers from
              anywhere, at any time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="card h-100 about-box text-center pt-4">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">Cost and space saving</h3>
            <p class="card-text opacity-8">
              No need to print, copy and bind paper theses. No need for storage
              space in libraries.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="card h-100 about-box text-center pt-4">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">Ease of access</h3>
            <p class="card-text opacity-8">
              ETDs are easy to search, archive and
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
