<div class="skeleton result-item" *ngFor="let item of count">
  <div class="result-content">
    <h4 class="skeleton-item"></h4>
    <a class="result-category d-inline-block transition mr-1 skeleton-item"></a>
    <a class="result-category d-inline-block transition skeleton-item"></a>
    <p class="mt-4 skeleton-item"></p>
    <div class="mt-3 text-right overflow-auto">
      <div class="result-content-summary float-left text-left mt-3">
        <span class="mr-4 d-block w-100 pl-5 pr-5 skeleton-item"></span>
        <span class="mr-4 pl-5 skeleton-item"></span>
      </div>
    </div>
  </div>
</div>
