<div class="dropdown font-size-14" [class.show]="isDropdownOpen()">
  <button
    class="btn btn-outline-dark dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    (click)="toggleDropdownMenu($event)"
  >
    <i class="fas fa-sort-amount-up"></i> Default Sorting
  </button>
  <div
    class="dropdown-menu dropdown-menu-right"
    [class.show]="isDropdownOpen()"
  >
    <a
      class="dropdown-item"
      [class.active]="isSelected(option.value)"
      (click)="onItemSelected(option.value)"
      *ngFor="let option of sortOptions"
      >{{ option.text }}</a
    >
  </div>
</div>
